<?xml version="1.0" encoding="UTF-8" ?>  
<configuration>
    <property name="PROJECT_NAME" value="seed-server"/>
    <property name="LOG_HOME" value="/app/seed/log/server"/>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS}[%-5level][%t][%C{0}.%M]%m%n"/>
    <contextName>${PROJECT_NAME}</contextName>

    <appender name="WEB_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/web.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/archive/web.log.%d{yyyyMMdd}</fileNamePattern>
        </rollingPolicy>
    </appender>
    <appender name="WAP_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/wap.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/archive/wap.log.%d{yyyyMMdd}</fileNamePattern>
        </rollingPolicy>
    </appender>
    <appender name="DEFAULT_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${PROJECT_NAME}.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/archive/${PROJECT_NAME}.log.%d{yyyyMMdd}</fileNamePattern>
        </rollingPolicy>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="org.jboss" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.thymeleaf" level="WARN"/>
    <logger name="com.alibaba.druid" level="INFO"/>
    <logger name="org.springframework" level="WARN"/>

    <logger name="webLogger" level="INFO" additivity="true">
        <appender-ref ref="WEB_LOG"/>
    </logger>
    <logger name="wapLogger" level="INFO" additivity="true">
        <appender-ref ref="WAP_LOG"/>
    </logger>
    <logger name="defaultLogger" level="DEBUG" additivity="true">
        <appender-ref ref="DEFAULT_LOG"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>