<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:batch="http://www.springframework.org/schema/batch"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/batch http://www.springframework.org/schema/batch/spring-batch.xsd">

    <batch:job id="xmlSettleJob">
        <batch:step id="s1001">
            <batch:tasklet>
                <batch:chunk reader="r1001" processor="p1001" writer="w1001" commit-interval="2"/>
            </batch:tasklet>
        </batch:step>
    </batch:job>

    <bean id="w1001" class="com.jadyer.seed.controller.batch.xmlconfig.W1001"/>

    <bean id="p1001" class="com.jadyer.seed.controller.batch.xmlconfig.P1001"/>

    <bean id="r1001" class="org.springframework.batch.item.file.FlatFileItemReader">
        <property name="resource" value="file:/data/seedboot-batch.txt"/>
        <property name="linesToSkip" value="1"/>
        <property name="encoding" value="UTF-8"/>
        <property name="lineMapper">
            <bean class="org.springframework.batch.item.file.mapping.DefaultLineMapper">
                <property name="lineTokenizer">
                    <bean class="org.springframework.batch.item.file.transform.DelimitedLineTokenizer">
                        <property name="delimiter" value="|"/>
                        <property name="names" value="realName, age"/>
                    </bean>
                </property>
                <property name="fieldSetMapper">
                    <bean class="org.springframework.batch.item.file.mapping.BeanWrapperFieldSetMapper">
                        <property name="prototypeBeanName" value="person"/>
                    </bean>
                </property>
            </bean>
        </property>
    </bean>
    <bean id="person" class="com.jadyer.seed.controller.batch.model.Person" scope="prototype"/>
</beans>