<% include("/admin/comm/header.html"){} %>

<div class="c_nav">
    <div class="ti">粉丝列表</div>
</div>
<!--Content-->
<div class="c_content">
    <!--Table list-->
    <table class="tab_list" width="100%">
        <tr>
            <th>头像</th>
            <th>昵称</th>
            <th>性别</th>
            <th>国家</th>
            <th>省份</th>
            <th>城市</th>
            <th>关注</th>
            <th>关注时间</th>
        </tr>
        <%for(fans in page.content){%>
            <tr>
                <td><span><img alt="头像" src="${fans.headimgurl}" height="30px" width="30px"></span></td>
                <td><span>${fans.nickname}</span></td>
                <td><span>${fans.sex==1 ? '男' : fans.sex==2 ? '女' : '未知'}</span></td>
                <td><span>${fans.country}</span></td>
                <td><span>${fans.province}</span></td>
                <td><span>${fans.city}</span></td>
                <td>${fans.subscribe==0 ? '<span class="cf30 fw">未关注</span>' : '<span class="cgre fw">已关注</span>'}</td>
                <td><span>${fans.subscribeTime, dateFormat="yyyy-MM-dd HH:mm"}</span></td>
            </tr>
        <%}%>
    </table>
    <!--/Table list-->
    <% include("/admin/comm/page.html", {url:'${ctxPath}/fans/list'}){} %>
</div>
<!--/Content-->

<% include("/admin/comm/footer.html"){} %>