<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>半步多管理平台</title>
    <link rel="icon" type="image/x-icon" href="${ctxPath}/img/logo.ico">
    <link rel="stylesheet" href="${ctxPath}/css/basic.css"/>
    <link rel="stylesheet" href="${ctxPath}/css/main.css"/>
    <script src="${ctxPath}/js/jquery-1.11.3.min.js"></script>
    <script src="${ctxPath}/js/pubs.js"></script>
    <script src="${ctxPath}/js/common.js"></script>
</head>
<script>
$(function(){
    $('ul.c_menu').on('click', 'div a', function(e){
        //屏蔽原href动作（即阻止事件默认行为）
        e.preventDefault();
        //href的值以javascript打头时认为是js脚本
        var href = $(this).attr('href');
        if(href.indexOf('javascript') == 0){
            eval(href);
        }else{
            window.location.href = href + (href.indexOf('?')!=-1?'&':'?') + 'currentSubMenu=' + $(this).attr('id');
        }
    });
    //迭代一级菜单并置为焦点
    $("ul.c_menu > li").each(function(){
        if('${currentMenu}' == $(this).attr('id')){
            $(this).addClass('on');
        }
    });
    //迭代二级菜单并置为焦点
    $("ul.c_menu a").each(function(){
        if('${currentSubMenu}' == $(this).attr('id')){
            $(this).addClass('on');
        }
    });
});
</script>
<body>
    <div class="c_main_l">
        <div class="c_logo"><img height="35" src="${ctxPath}/img/logo.png"/></div>
        <ul class="c_menu">
            <li id="menu_reply">
                <a href="#"><span>回复设置</span><i></i></a>
                <div>
                    <a id="menu_reply_01" href="javascript:alert('暂未开放');"><span>关键字回复</span></a>
                    <a id="menu_reply_02" href="${ctxPath}/view?url=/admin/wangeditor"><span>关注后回复</span></a>
                    <a id="menu_reply_03" href="javascript:alert('暂未开放');"><span>通用的回复</span></a>
                </div>
            </li>
            <li id="menu_module">
                <a href="#"><span>插件管理</span><i></i></a>
                <div>
                    <a id="menu_module_01" href="javascript:alert('暂未开放');"><span>一站到底</span></a>
                    <a id="menu_module_02" href="javascript:alert('暂未开放');"><span>员工之家</span></a>
                    <a id="menu_module_03" href="javascript:alert('暂未开放');"><span>幸运刮奖</span></a>
                </div>
            </li>
            <li id="menu_fans">
                <a id="menu_fans_01" href="javascript:alert('暂未开放');"><span>粉丝管理</span><i></i></a>
            </li>
            <li id="menu_sys">
                <a href="#"><span>平台设置</span><i></i></a>
                <div>
                    <a id="menu_sys_01" href="javascript:alert('暂未开放');"><span>公众菜单</span></a>
                    <a id="menu_sys_02" href="${ctxPath}/view?url=/admin/user/info&uname=玄玉&token=https://github.com/jadyer&mpurl=http://jadyer.cn/"><span>个人资料</span></a>
                    <a id="menu_sys_03" href="javascript:alert('暂未开放');"><span>修改密码</span></a>
                </div>
            </li>
        </ul>
    </div>
    <div class="c_main_r">
        <div class="c_topBar">
            <p class="p1"><i></i><span class="fm2">您好：${session.user.username!"http://jadyer.cn/"}，欢迎访问半步多平台，现在是：${date(), dateFormat="yyyy年MM月dd日 E"}</span></p>
            <p class="p2 fm2">
                <a href="javascript:alert('暂未开放');" class="mr_20"><i class="i_man"></i><span class="va_m">修改信息</span></a>
                <a href="javascript:alert('暂未开放');"><i class="i_sw"></i><span class="va_m">退出</span></a>
            </p>
        </div>