<div class="c_main_l" th:fragment="body_menu">
	<div class="c_logo"><img height="35" th:src="@{/img/logo.png}"/></div>
	<ul class="c_menu">
		<!-- 注意问号和小括号之间挨着,不能有空格,否则三目运算不生效 -->
		<li th:class="${session.currentMenu eq 'menu_reply'}? 'on' : ''">
			<a href="#"><span>回复设置</span><i></i></a>
			<div>
				<a href="javascript:alert('暂未开放');"><span>关键字回复</span></a>
				<a href="javascript:alert('暂未开放');"><span>关注后回复</span></a>
				<a href="javascript:alert('暂未开放');"><span>通用的回复</span></a>
			</div>
		</li>
		<li th:class="${session.currentMenu eq 'menu_plugin'}? 'on' : ''">
			<a href="#"><span>插件管理</span><i></i></a>
			<div>
				<a href="javascript:alert('暂未开放');"><span>一站到底</span></a>
				<a href="javascript:alert('暂未开放');"><span>员工之家</span></a>
				<a href="javascript:alert('暂未开放');"><span>幸运刮奖</span></a>
			</div>
		</li>
		<li th:class="${session.currentMenu eq 'menu_fans'}? 'on' : ''">
			<a th:href="@{/demo/view?url=admin/fansList}"><span>粉丝管理</span><i></i></a>
		</li>
		<li th:class="${session.currentMenu eq 'menu_sys'}? 'on' : ''">
			<a href="#"><span>平台设置</span><i></i></a>
			<div>
				<a href="javascript:alert('暂未开放');"><span>公众菜单</span></a>
				<a href="javascript:alert('这是一个Thymeleaf示例页面');"><span>个人资料</span></a>
				<a href="javascript:alert('暂未开放');"><span>修改密码</span></a>
			</div>
		</li>
	</ul>
</div>