<% include("/comm/header.html"){} %>
<h1>合同查询.boot.contract.get</h1>
<ol>
    <li>
        <h2>请求报文</h2>
        <table width="1260" border="0" cellspacing="1" bgcolor="#000000">
            <tr bgcolor="#8CB3E2">
                <th width="20%">名称</th>
                <th width="10%" align="center">类型</th>
                <th width="5%" align="center">必传</th>
                <th width="65%">说明</th>
            </tr>
            <tr bgcolor="#EDEDED">
                <td>contractNo</td>
                <td align="center">VARCHAR2(32)</td>
                <td align="center">Y</td>
                <td>开放平台合同号</td>
            </tr>
        </table>
    </li>
    <li>
        <h2>响应报文</h2>
        <table width="1260" border="0" cellspacing="1" bgcolor="#000000">
            <tr bgcolor="#8CB3E2">
                <th width="20%">名称</th>
                <th width="10%" align="center">类型</th>
                <th width="5%" align="center">必传</th>
                <th width="65%">说明</th>
            </tr>
            <tr bgcolor="#EDEDED">
                <td>contractNo</td>
                <td align="center">VARCHAR2(32)</td>
                <td align="center">Y</td>
                <td>开放平台合同号</td>
            </tr>
            <tr bgcolor="#EDEDED">
                <td>status</td>
                <td align="center">CHAR(1)</td>
                <td align="center">Y</td>
                <td>合同状态，状态值见附录A</td>
            </tr>
            <tr bgcolor="#EDEDED">
                <td>creditMoney</td>
                <td align="center">NUMBER(9)</td>
                <td align="center">Y</td>
                <td>贷款金额，单位：分</td>
            </tr>
            <tr bgcolor="#EDEDED">
                <td>creditTerm</td>
                <td align="center">NUMBER(2)</td>
                <td align="center">N</td>
                <td>贷款期数，放款未成功时无此值</td>
            </tr>
            <tr bgcolor="#EDEDED">
                <td>dueDate</td>
                <td align="center">DATE</td>
                <td align="center">Y</td>
                <td>贷款到期日，格式为yyyy-MM-dd</td>
            </tr>
            <tr bgcolor="#EDEDED">
                <td>nextRepayDate</td>
                <td align="center">DATE</td>
                <td align="center">Y</td>
                <td>下次还款日，格式为yyyy-MM-dd</td>
            </tr>
            <tr bgcolor="#EDEDED">
                <td>eachRepayMoney</td>
                <td align="center">NUMBER(9)</td>
                <td align="center">Y</td>
                <td>每期还款额，单位：分</td>
            </tr>
            <tr bgcolor="#EDEDED">
                <td>totalDebtMoney</td>
                <td align="center">NUMBER(9)</td>
                <td align="center">Y</td>
                <td>总欠款金额，单位：分</td>
            </tr>
            <tr bgcolor="#EDEDED">
                <td>currMoney</td>
                <td align="center">NUMBER(9)</td>
                <td align="center">N</td>
                <td>可用额度，单位：分，额度贷类产品时返回此值</td>
            </tr>
            <tr bgcolor="#EDEDED">
                <td>usedMoney</td>
                <td align="center">NUMBER(9)</td>
                <td align="center">N</td>
                <td>已用额度，单位：分，额度贷类产品时返回此值</td>
            </tr>
            <tr bgcolor="#EDEDED">
                <td>bankCode</td>
                <td align="center">VARCHAR2(16)</td>
                <td align="center">Y</td>
                <td>放款/扣款银行行号，可选值见数据字典</td>
            </tr>
            <tr bgcolor="#EDEDED">
                <td>bankCardNo</td>
                <td align="center">VARCHAR2(19)</td>
                <td align="center">Y</td>
                <td>放款/扣款银行卡号</td>
            </tr>
        </table>
    </li>
</ol>
<% include("/comm/footer.html"){} %>