<% include("/admin/comm/header.html"){} %>

<link rel="stylesheet" href="${ctxPath}/js/wangEditor-2.1.22/css/wangEditor.min.css">
<style>
/*
重写这俩标签是由于
全局CSS定义了它们，导致wangEditor中加粗和倾斜字体时，没有效果
尽管源码查看，发现其实wangEditor已经给文字添加了相应b、i标签
i {font-style:italic !important;}
*/
b {font-weight:bold !important;}
</style>

<div class="c_nav">
    <div class="ti">公众菜单</div>
</div>
<!--Content-->
<div class="c_content">
    <form id="userBindForm">
        <table class="tab_head tab_in tab_list2" width="100%">
            <tr class="ti"><th colspan="2">公众信息</th></tr>
            <tr><th>公众号：</th><td><input class="inpte" id="mpno" name="mpno" value="${session.user.mpno}" maxlength="32"/></td></tr>
            <!-- 注意：textarea的值应该是被p标签包裹了的值，否则会出现wangEditor里面编辑文字时（比如加粗），文字自动换行的现象 -->
            <tr><th>公众名：</th><td style="width:90%"><textarea id="mpname" style="height:300px;"><p>这是初始化内容</p></textarea></td></tr>
        </table>
        <table class="tab_head tab_in tab_list2" width="100%">
            <tr class="ti"><th colspan="3">操作</th></tr>
            <tr><td class="txt_l"><a class="btn_g" href="javascript:submit();">绑定公众号</a></td></tr>
        </table>
    </form>
</div>
<!--/Content-->

<% include("/admin/comm/footer.html"){} %>

<script src="${ctxPath}/js/wangEditor-2.1.22/js/wangEditor.min.js"></script>
<script>
//获取元素
var textarea = document.getElementById('mpname');

//生成编辑器
var editor = new wangEditor(textarea);

//字体
editor.config.familys = [
    '宋体', '黑体', '楷体', '微软雅黑',
    'Courier New', 'Consolas'
];

//关闭菜单栏吸顶
editor.config.menuFixed = false;

//普通的自定义菜单
editor.config.menus = [
    'source',
    '|',
    'bold',
    'forecolor',
    'bgcolor',
    '|',
    'fontfamily',
    'fontsize',
    'head',
    'alignleft',
    'aligncenter',
    'alignright',
    '|',
    'link',
    'unlink',
    'table',
    'img'
];

//隐藏掉插入网络图片功能（该配置仅在配置了图片上传功能后才可用）
//editor.config.hideLinkImg = true;
//上传图片的配置（支持自定义参数）
editor.config.uploadImgUrl = '${ctxPath}/wangEditor/uploadImg';
editor.config.uploadImgFileName = 'minefile';
editor.config.uploadParams = {
    username: 'jadyer',
    password: 'https://jadyer.cn/'
};

//创建编辑器
editor.create();

function submit(){
    //获取编辑器区域完整html代码
    //text()和formatText()方法得到的都是没有HTML标签的文本
    var html = editor.$txt.html();
    //赋值（使用富文本编辑器时，就不能再用传统的$("mpname").val("赋值的内容")赋值了）
    //editor.$txt.html("赋值的内容");
    $.post("${ctxPath}/wangEditor/submit",
        {mpno:$('#mpno').val(), mpname:html},
        function(data){
            alert(data.msg);
        }
    );
}
</script>

<!--
/**
 * 前台页面通过wangEditor上传图片
 */
@CrossOrigin(maxAge=600)
@RequestMapping("/wangEditor/uploadImg")
void wangEditorUploadImg(String username, MultipartFile minefile, HttpServletRequest request, HttpServletResponse response) throws IOException {
    response.setContentType("text/plain; charset=UTF-8");
    PrintWriter out = response.getWriter();
    if(null==minefile || 0==minefile.getSize()){
        //此时前台wangEditor会自动alert('未上传文件');
        out.print("error|未上传文件");
        out.flush();
        out.close();
        return;
    }
    //文件的名字会被wangEditor重命名为一个长度为16的数字，所以getOriginalFilename得到的并非真实原文件名
    String filePath = scsHelper.buildUploadFilePath(minefile.getOriginalFilename(), true);
    FileUtils.copyInputStreamToFile(minefile.getInputStream(), new File(filePath));
    out.write(request.getContextPath() + "/sample/file/get?filePath=" + FilenameUtils.getName(filePath));
    out.flush();
    out.close();
}


/**
 * 前台页面通过wangEditor提交内容
 */
@ResponseBody
@RequestMapping("/wangEditor/submit")
CommResult wangEditorSubmit(String mpno, String mpname) {
    System.out.println("收到wangEditor的内容，mpno=["+mpno+"]，mpname=["+mpname+"]");
    return CommResult.success();
}
-->

<!--
package com.jadyer.seed.scs;

import com.jadyer.seed.comm.util.IDUtil;
import com.jadyer.seed.comm.util.LogUtil;
import org.apache.commons.io.FilenameUtils;
import org.springframework.beans.factory.annotation.Value;
import org.springframework.stereotype.Component;

/**
 * Created by 玄玉<https://jadyer.cn/> on 2017/3/10 5:35.
 */
@Component
class ScsHelper {
    @Value("${scs.upload}")
    private String scsUpload;

    String getFilePath(boolean isWangEditor){
        return (scsUpload.endsWith("/") ? scsUpload : scsUpload+"/") + (isWangEditor ? "wangEditor/" : "");
    }

    /**
     * 构建上传文件的存储路径
     */
    String buildUploadFilePath(String originalFilename, boolean isWangEditor){
        String fileExtension = FilenameUtils.getExtension(originalFilename);
        String filePath = this.getFilePath(isWangEditor) + IDUtil.INSTANCE.nextId() + (isWangEditor?"w":"") + "." + fileExtension;
        LogUtil.getLogger().info("originalFilename=[{}]，filePath=[{}]", originalFilename, filePath);
        return filePath;
    }
}
-->